{% extends 'base.html' %}
{% block main %}
<form action="/savedetails" method="post">
    <table>
        <tr>
            <td colspan="2" style="text-align: center;">
                <h2 style="color:rgb(255,127,80);font-size: 35px;" style="font-family:Fantasy;">Corruption Details</h2>
                <h3 style="color:rgb(82, 79, 78);font-size: 18px;" style="font-family:Courier New;">  Share Realistic Factbased Verifiable Information  </h3>
                <h2 style="font-size:10px">_________________________________________________________________</h2>
            </td>
        </tr>
        <tr>
            <td>BlackCat Name:</td>
            <td><input type="text" name="name" required></td>
        </tr>
        <tr>
            <td>Location:</td>
            <td><input type="text" name="contact" required></td>
        </tr>
        <tr>
            <td>Profession:</td>
            <td><input type="text" name="email" required></td>
        </tr>
        <tr>
            <td>Corrupt Amt:</td>
            <td><input type="text" name="salary" required></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;"><input type="submit" value="Submit" class="sub"></td>
        </tr>
    </table>

</form><br><br><br><br>
<ul>
    {% if 'email' not in session %}
            <li style="color:rgb(246, 242, 242);font-size: 20px;" style="font-family:Fantasy;" style="float:left"><a href="/signup">Sign Up</a></li>
            <li style="float:right" style="font-family:Fantasy;" style ="color:rgb(246, 242, 242);font-size: 20px;"><a href="/login">Login</a></li>
            {% else %}
            <li style="float:none"><a href="/" style="float:left">Back</a></li>
            <li style="float:none"><a href="/logout" style="float:right">Log Out</a></li>
            {% endif %}
    </ul>
{% endblock main %}