<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body>
    <ul>
        <h1 style="color:rgb(255,127,80);font-size: 60px;" style="font-family:Fantasy;"> Ind!an BlaCk MoneY </h1>
        <h2 style="color:rgb(221, 212, 212);font-size: 30px;" style="font-family:Fantasy;">Having Money makes Sense | Having Sense makes Money</h2>
        <h3  style="color:rgb(109, 106, 106);font-size: 20px;" style="font-family:Fantasy;">-{  The Open Source website on Corruption lets register and contribute  }-</h3<br><br>
        
    </ul>
    {% block main %}

    {% endblock main %}
</body>

</html>